<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% array =["Tophat", 'Helmet', "Birthday Hat", "Bowler", "Jesters Hat", "Pilgrim Hat", "Santa Hat", "Witch Hat"]%>
  <div class="container" id="field">
   I want to see a  
    <%= f.text_field :keyword1%>
    wearing a 
    <%= f.select(:keyword2) do %>
      <% array.each do |c| -%>
      <%= content_tag(:option, c)%>
      <%end%>
      <%end%>
    while in 
    <%= f.text_field :keyword3 %>

  </div>

    <%= f.submit :MashApic, class: "commit btn btn-lg center-block"%>

  <% end %>
