<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
  <!-- will there ever be errors on your form, if there are no validations on your model? -->
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   I want to see a  
    <%= f.text_field :keyword1%>
    wearing a 
    <%= f.text_field :keyword2 %>
    while in 
    <%= f.text_field :keyword3 %>

  </div>
  <div class="searchbutton">
    <%= f.submit :MashApic%>
  </div>
<% end %>
