<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keyword1 %><br>
    <%= f.text_field :keyword1 %><br>
    <%= f.label :keyword2 %><br>
    <%= f.text_field :keyword2 %><br>
    <%= f.label :keyword3 %><br>
    <%= f.text_field :keyword3 %><br>
  </div>
  <div class="searchbutton">
    <%= f.submit %>
  </div>
<% end %>
