
<div class="info">
<p id="notice"><%= notice %></p>


  <h1>MashPIC</h1><br>
  <div class="keyword1" value=<%= @keyword1 %>></div><br>
  <div class="keyword2" value=<%= @keyword2 %>></div><br>
  <div class="keyword3" value=<%= @keyword3 %>></div><br>
  <div class="image"></div> 
</div>


<%= link_to 'Back', new_request_path %>
