<p id="notice"><%= notice %></p>

<p>
  <strong>MashPIC</strong><br>
  <div class="keyword1" value=<%= @keyword1 %>></div><br>
  <div class="keyword2" value=<%= @keyword2 %>></div><br>
  <div class="keyword3" value=<%= @keyword3 %>></div><br>

</p>


<%= link_to 'Back', new_request_path %>
