<p id="notice"><%= notice %></p>

<p>
  <strong>Keyword:</strong><br>
  <%= @request.keyword1 %><br>
  <%= @request.keyword2 %><br>
  <%= @request.keyword3 %><br>
</p>


<%= link_to 'Back', new_request_path %>
